ultralytics>=8.2.34
torch>=2.0.0
torchvision>=0.15.0
Flask
gradio>=4.0.0
opencv-python>=4.8.0
pillow>=10.0.0
scikit-image
cvzone
numpy>=1.24.0
pandas>=2.0.0
scipy>=1.10.0
matplotlib>=3.7.0
seaborn>=0.12.0
pyyaml>=6.0
tqdm>=4.65.0
psutil
gitpython>=3.1.30
roboflow
thop>=0.1.1
filterpy
lap
requests
tqdm
gunicorn
numpy